@media (max-width:450px){.desk{display: none; }    

body{
width: 99%;
text-align: center;
background-image: url('images/fondo mipyme.png');
background-size:cover;
background-attachment:fixed;
background-repeat: no-repeat; 
background-position:center;  
}

@media (max-width:767px){
body,section,article{width:100%;}}  

.logo{width: 10%;border-radius: 80%;}
.fotoAceite{width: 30%;border-radius: 30%;}

#dropdown{background:#832544ef;color: #9f8ce4;cursor:pointer;
;border-radius: 30%;padding: 20%;
}    

#numbers{color: #1a085c;background:#dacbd0af;border-radius: 20%;
;display:none;padding: 1%;
position: absolute;box-shadow:10px 10px 8px #14030b
}

#dropbuttons:hover div{display: block;}
#dropbuttons:hover button{background: #910e74;padding: 25%;;}
#dropbuttons a:hover{background: #18e418;} 
#dropbuttons{display: inline-block;position: center;
}

.layout {
/* border-style: dashed; */
width: 100%;
height:auto;
display: flex;
gap: 5%;
margin-top:3%;
padding: 1%;
justify-content: center;
align-items: center;
}
#cuadritos{background: #7e1e1eef;color: #d0c8e6;
padding: 0%;width: 45%;margin-top:55%;border:solid 1px #02021b;
border-radius: 10%;text-align: center;; 
} 
#lista{list-style: none;}
.foto2{width: 60%;border-radius: 30%;}

footer{background: #5545e7;
border:solid 1px;    
bottom:0px;
/* position:fixed; */
width:100%;height: 5%;}

}
